ul#learnMoreNav.nav.nav-pills
    li(class=content === 'aboutUs' ? 'active' : '')
        a#aboutUs(href='javascript:showContent("aboutUs");') About Us
    li(class=content === 'patientInfo' ? 'active' : '')
        a#patientInfo(href='javascript:showContent("patientInfo");') Patient Information
    li(class=content === 'asianCultureSociety' ? 'active' : '')
        a#asianCultureSociety(href='javascript:showContent("asianCultureSociety");') Asian Culture Society
    li(class=content === 'staffInterns' ? 'active' : '')
        a#staffInterns(href='javascript:showContent("staffInterns");') Staff & Interns
    li(class=content === 'FAQ' ? 'active' : '')
        a#FAQ(href='javascript:showContent("FAQ");') FAQs
    li(class=content === 'opportunities' ? 'active' : '')
        a#opportunities(href='javascript:showContent("opportunities");') Opportunities
